$border-color: rgb(193, 198, 199);
$hover-btn-color: rgb(116, 115, 115);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main_window {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 900px;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 5px rgba(66, 68, 90, 1);
  overflow: hidden;
}

//top nav

.main_nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 10px;
  border-bottom: 2px solid $border-color;

  .heading {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;

    h1 {
      font-family: "Dancing Script", cursive;
      font-size: 3.6rem;
    }
  }

  .nav_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 100%;

    button {
      padding: 10px;
      border: none;
      background: none;
      cursor: pointer;

      :hover {
        color: $hover-btn-color;
      }

      i {
        font-size: 2.5rem;
      }
    }
  }
}

//content

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}
.main-content {
  overflow-y: scroll;
  width: 100%;
  height: 740px;
  .content {
    .post-top {
      padding: 10px;
      display: flex;
      justify-content: space-between;

      .post-avatar {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50px;
        }

        span {
          margin-left: 20px;
          font-size: 1.8rem;
        }
      }

      .post-option {
        padding: 10px;
        background: none;
        border: none;
        cursor: pointer;

        :hover {
          color: $hover-btn-color;
        }
      }
    }

    .post-photo {
      width: 100%;
      // height: 500px;
      img {
        width: 100%;
        // height: 100%;
        object-fit: cover;
        aspect-ratio: 1;
      }
    }

    .post-buttons {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      button {
        padding: 5px;
        margin-right: 5px;
        border: none;
        background: none;
        cursor: pointer;

        :hover {
          color: $hover-btn-color;
        }

        i {
          font-size: 2.5rem;
        }
      }
    }

    .like-counter {
      margin-left: 10px;

      p {
        font-weight: bold;
        font-size: 1.6rem;
      }
    }

    .post-description {
      padding: 10px;

      .username {
        font-weight: bold;
      }

      span {
        font-size: 1.6rem;
      }
    }

    .post-comments {
      margin-left: 10px;
      margin-bottom: 20px;

      p {
        font-size: 1.6rem;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

//bottom nav

.bottom_nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: #fff;
  border-top: 2px solid $border-color;
  z-index: 100;

  button {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;

    :hover {
      color: $hover-btn-color;
    }

    i {
      font-size: 2.5rem;
    }
  }
}
